<div class="home-prod">
    <h3> <a href="/product/{{this.id}}">{{this.title}}</a> </h3>
    <h5>Categoria: {{this.category}} </h5>
    <p>Valor: {{currency}} {{this.value}} </p>
    <p><a href="/product/{{this.id}}">Acessar produto</a></p>
</div>