<h1>Editar livro - ID {{book.id}}</h1>
<div>

    <form action="/books/edit/{{book.id}}" method="post">
        <input type="hidden" name="id" value="{{book.id}}">
        <div>
            <label for="title">Título</label>
            <input type="text" name="title" value="{{book.title}}">
        </div>
        <div>
            <label for="pageqty">Quantidade de páginas</label>
            <input type="number" name="pageqty" value="{{book.page_qt}}">
        </div>
        <div>
            <input type="submit" value="Editar">
        </div>
    </form>
</div>